* {
  font-size: 36px;
  font-family: sans-serif;
}

button {
  height: auto;
  margin: 0 10px;
  display: inline;
  width: auto;
  padding: 10px;
}

span {
  font-size: 40px;
  padding: 10px 0;
}

input {
  height: 40px;
  width: 300px;
  padding: 10px;
}